<div class="container">
  <div class="row">
   <h1></h1><br>
   <h1></h1><br>
   <h1></h1><br>
   <h1></h1><br>
   <h1></h1><br>
   <h1></h1><br>
   <div class="col-xs-7 col-xs-offset-3">
    <h1><strong>ご購入ありがとうございました！</strong></h1>
   </div>
  </div>
</div>