/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.bg_test-text {
    display:  inline-block;                         /* インラインブロックにする */
    padding: 30px 30px;                             /* 余白指定 */
    background-color: rgba(82,72,53,0.5);
}

.bg_test {
    text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    background-image: url(takeout.jpg);    /* 背景画像5/9変更 */
    background-size: cover;    /* 背景サイズ5/9変更*/
    background-position: center;
    color: white;
}

.table-noborder>tbody>tr>td{
  border-style: none;
}


.field_with_errors {
  display: contents;
}