
<div class=''>
    <table>
        <thead>
            <tr>
                <th>
                    <h2> <% user.first_name%> <% user.last_name%> さんのの会員詳細 </h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <h4>顧客ID</h4> </td>
                <td> <% user.id %> </td>
                <td> <% user.validation%> </td>
            </tr>
            <tr>
                <td> <h4>氏名</h4>  </td>
                <td> <% user.first_name%> </td>
                <td> <% user.last_name%> </td>
            </tr>
            <tr>
                <td> <h4>フリガナ</h4>  </td>
                <td> <% user.kana_first_name%> </td>
                <td> <% user.kana_last_name%> </td>
            </tr>
            <tr>
                <td> <h4>郵便番号</h4>  </td>
                <td> <% user.postal_code%> </td>
            </tr>
            <tr>
                <td> <h4>住所</h4>  </td>
                <td> <% user.address %> </td>
            </tr>
            <tr>
                <td> <h4>電話番号</h4> </td>
                <td> <% user.phone_number%> </td>
            </tr>
            <tr>
                <td> <h4>メールアドレス</h4>  </td>
                <td> <% user.email%> </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td> <%= link_to '編集する', edit_admin_user_path(user.id) %> </td>
                <td> <%= link_to '注文履歴一覧', admin_orders_path %> </td>
            </tr>
        </tfoot>
    </table>
</div>